@import "tailwindcss";

@layer base {
  body {
    @apply scroll-smooth selection:bg-blue-500 selection:text-white;
  }

  main a {
    @apply cursor-pointer underline decoration-black decoration-dotted decoration-1 transition-all duration-500 hover:text-blue-500;
  }

  a, button {
    @apply text-shadow-2xs text-shadow-black/50 cursor-pointer;
  }
}
